{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block body_class %}template-agenda{% endblock %}
{% block content %}
  <div class="row">
    <div class="nine columns panel">
    
    {% for block in self.agenda %}
    {% if block.block_type == 'agenda_item' %} {# will always be true, but included here for clarity #}
        {% for subblock in block.value %}
            {% if subblock.block_type == 'item_title' %}
                <h2>{{subblock.value}}</h2>
            {% elif subblock.block_type == 'item_content' %}
                 {% for block in subblock.value %}
                     <p>{{ block.bound_blocks.item_text.render }}</p>
                     <p>{{ block.bound_blocks.mtg_doc }}</p>  
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
   {% endfor %}
      
    </div>
    <div class="three columns">
      <div class="recent">
        <h5>Recently Added:</h5>		
        <p>A running chronological list of recently added items</p>
         <ul>
          {{ self.recently|richtext }}
         </ul>
      </div>
    </div>
  </div> 
{% endblock %}